<h2>Сменить пароль</h2>

<%= render partial: 'partials/form_errors', locals: {model: @user} %>

<div class="row">
  <div class="col-md-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field buffer-top">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field buffer-top">
        <%= f.label :current_password %>
        <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br/>
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <div class="actions buffer-top">
        <%= f.submit t('.update'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to t('devise.shared.links.back'), :back %>
