<h2>Забыли пароль?</h2>

<%= render partial: 'partials/form_errors', locals: {model: @user} %>

<div class="row">
  <div class="col-md-4">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Выслать новый пароль", class: 'buffer-both btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
