<h1><%= t '.title' %></h1>
<p><%= t '.name' %>: <b><%= @name %></b></p>
<p><%= t '.email' %>: <b><%= link_to @email, "mailto:#{@email}" %></b></p>
<hr/>

<p><%= t '.event' %>: <b><%= @event.title %></b></p>
<p><%= t '.datetime' %>: <b><%= l @event.datetime, format: :short %></b></p>
<p><%= t '.owner' %>: <b><%= @event.user.name %></b></p>

<%= link_to 'Страница события', event_url(@event) %>
